@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    margin: 0;
}

@layer base {
    html {
      font-family: 'Karla', sans-serif;
      background-color: #0B2434
    }

    .die-face {
      @apply flex flex-col w-full h-full justify-between p-[4px]
    }
 }

 
